DATABASE_URL="postgresql://usuario:senha@localhost:5432/devportfolio_db?schema=public"

SESSION_SECRET="troque-por-uma-string-aleatoria"

PORT=3333

NODE_ENV=development

CORS_ORIGIN=http://localhost:5501

ADMIN_EMAIL=kelvison.marcos10@gmail.com
ADMIN_PASSWORD=troque-esta-senha
